body {
  margin: 0;
  padding: 2% 5%;
}

.canvas {
  width: 100%;
  height: 100%;
}

.rightSideHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
  height: 500px;
}

.rightsideChairTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.none {
  display: none;
}

.opacity {
  opacity: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.headerTextWrapper {
  background-color: #DDDDDD;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navWrapper {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2%;
}



.textContainer {
  border-left: 2px solid gray;
  padding-left: 2%;
  width: 60%;
}

.smalltext {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

.mainText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.descText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  color: gray;
}

.chairTwoWrapper {
  width: 100%;
  height: 300px;
  background-color: #FD7524;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2%;
}

.leftSidechairTwo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftChairTwotextContainer {
  width: 60%;
  border-left: 2px solid black;
  padding-left: 2%;
}

.smalltextTwo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

.mainTextTwo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.descTextTwo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  color: black;
}

.canvas2 {
  width: 100%;
  height: 100%;
}

.picturesWrapper {
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-gap: 1%;
  margin-bottom: 2%;
}

.article {
  width: 100%;
  height: 100%;
}

.article1 {
  background: #DDDDDD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lampTextWrapper {
  width: 80%;
  border-left: 2px solid gray;
  padding-left: 2%;
}

.article2 {
  background-image: url('./images/lamp.jpg');
  background-size: cover;
  background-position: center;
}

.article3 {
  background-image: url('./images/lamp2.jpg');
  background-size: cover;
  background-position: center;
}

.article4 {
  background-image: url('./images/lamp3.jpg');
  background-size: cover;
  background-position: center;
}

.aboutus {
  width: 100%;
  height: 200px;
  background: #DDDDDD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.aboutUshead {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 1%;
  font-size: 30px;
  text-decoration: underline;
}

.aboutUsText {
  width: 70%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

.officeWrapper {
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 2%;
}

.imageOffice {
  background-image: url('./images/office.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.officeText {
  background-color: #FD7524;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textHolderOffice {
  width: 80%;
  padding-left: 2%;
  border-left: 2px solid black;
}

.table2 {
  background-image: url('./images/table1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.table3 {
  background-image: url('./images/table2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.table4 {
  background-image: url('./images/table3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #FD7524;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .navWrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
  }

  .headerTextWrapper {
    height: auto;
  }

  .textContainer {
    border-left: none;
    border-bottom: 2px solid gray;
    padding-bottom: 2%;
    width: 80%;
    text-align: center;
  }


  .rightSideHeader {
    height: 300px;
  }

  .smalltext {
    display: none;
  }

  .chairTwoWrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2%;
  }

  .rightsideChairTwo {
    height: 300px;
  }

  .smalltextTwo {
    display: none;
  }

  .leftChairTwotextContainer {
    border-left: none;
    padding-left: none;
    padding-bottom: 2%;
    border-left: none;
    text-align: center;
    border-bottom: 2px solid black;
    width: 80%;
    margin-bottom: 5%;
  }

  .picturesWrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 1%;
    margin-bottom: 2%;
  }

  .article {
    height: 200px;
    margin-bottom: 2%;
  }

  .lampTextWrapper {
    text-align: center;
    border-left: none;
    border-bottom: 2px solid black;
  }

  .aboutus {
    height: auto;
    padding: 5% 0;
  }

  .aboutUsText {
    width: 80%;
  }

  .officeWrapper {
    display: flex;
    flex-direction: column;
  }

  .imageOffice {
    height: 500px;
  }

  .textHolderOffice {
    text-align: center;
    border: none;
  }

}